body {
    font-family: Arial, sans-serif;
    background-color: #2c3e50;
    color: white;
    margin: 0;
    padding: 0;
}

/* Stile für die Container und Formulare */
.container {
    font-family: Arial, sans-serif;
    max-width: 600px;
    margin: 0 auto;
    padding: 20px;
    background-color: #f4f4f4;
    border-radius: 10px;
}

/* Hintergrund für den Header */
h1 {
    text-align: center;
    color: #003366;
}

/* Hervorheben der besten Antwort */
input[name$="_best"]:checked {
    background-color: #4CAF50;
    color: white;
    border-radius: 5px;
}

/* Hervorheben der schlechtesten Antwort */
input[name$="_worst"]:checked {
    background-color: #f44336;
    color: white;
    border-radius: 5px;
}


.submit-btn {
    background-color: #2980b9;
    border: none;
    padding: 10px 20px;
    color: white;
    font-size: 16px;
    cursor: pointer;
    border-radius: 5px;
    width: 100%;
}

.submit-btn:hover {
    background-color: #3498db;
}

.result {
    text-align: center;
    margin-top: 20px;
    font-size: 18px;
}
